<div class="container" style="width: 500px;">
    
    <div>
        <button mat-icon-button mat-dialog-close="true" style="float: right; margin: 15px;">
            <mat-icon style="color: red;">close</mat-icon>
        </button>
    </div>

    <div mat-dialog-title><h3 style="color: blueviolet; text-align: center;">Pieprasījuma izveide</h3></div>

    <div mat-dialog-content>
        <mat-form-field appearance="outline" style="width: 100%; margin-top: 15px;">
            <mat-label>Izvēlies tehniku</mat-label>
            <mat-select [(ngModel)]="data.tehnika" name="tehnika" required>
              <mat-option *ngFor="let t of tehnikaList" [value]="t">{{ t.nosaukums }}</mat-option>
            </mat-select>
          </mat-form-field>
        
        <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput [(ngModel)]="data.pamatojums" type="text" placeholder="Ievadi pamatojumu" />
            <!-- <mat-icon fontIcon="person" matSuffix></mat-icon> -->
          </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%; margin-top: 15px;">
            <mat-label>Izvēlies parametru</mat-label>
            <mat-select [(ngModel)]="data.parametri" name="parametri" required>
              <mat-option *ngFor="let param of paramsList" [value]="param">{{ param }}</mat-option>
            </mat-select>
          </mat-form-field>
          
    </div>

    <div mat-dialog-actions align="center">
        <button (click)="addPieprasijums(data)" mat-flat-button [mat-dialog-close]="data">Izveidot</button>
        <button mat-flat-button mat-dialog-close="true" style="background-color:crimson !important;">Atcelt</button>
    </div>
</div>