<div class="container" style="width: 100%; height: auto;">
    <br>
    <h1 style="margin-left: 2%; color: black; text-align: left; text-transform: uppercase; font-weight: 500;">Datortehnikas pieprasīšanas sistēma</h1>
    <br>
    <h1 style="font-weight: 500; text-align: center; letter-spacing:0.1ch;">Pieprasījumu saraksts</h1>
    <mat-form-field style="margin-left: 2%;">
        <input (input)="searchPieprasijums(filter.value)" matInput placeholder="Meklēt pieprasījumu" type="text" #filter>
    </mat-form-field>
    <button (click)="openDialog(p)" mat-flat-button style="width: 140px; height: 60px; float: right; margin-right: 2%;">Izveidot pieprasījumu</button>
    <br>
    <div class="data-container mat-elevation-z8" style="margin-left: 2%; margin-right: 2%;">
        <table mat-table [dataSource]="dataSource">
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let pieprasijums"> {{ pieprasijums.id }} </td>
          </ng-container>
      
          <ng-container matColumnDef="tehnika">
            <th mat-header-cell *matHeaderCellDef> Tehnika </th>
            <td mat-cell *matCellDef="let pieprasijums"> {{ pieprasijums.tehnika?.nosaukums }} </td>
          </ng-container>
      
          <ng-container matColumnDef="datums">
            <th mat-header-cell *matHeaderCellDef> Reģistrācijas laiks </th>
            <td mat-cell *matCellDef="let pieprasijums"> {{ pieprasijums.datums }} </td>
          </ng-container>
      
          <ng-container matColumnDef="pamatojums">
            <th mat-header-cell *matHeaderCellDef> Pamatojums </th>
            <td mat-cell *matCellDef="let pieprasijums"> {{ pieprasijums.pamatojums }} </td>
          </ng-container>
      
          <ng-container matColumnDef="parametri">
            <th mat-header-cell *matHeaderCellDef> Parametri </th>
            <td mat-cell *matCellDef="let pieprasijums"> {{ pieprasijums.parametri }} </td>
          </ng-container>
      
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let pieprasijums"> {{ pieprasijums.status }} </td>
          </ng-container>

          <ng-container matColumnDef="apstiprinat">
            <th mat-header-cell *matHeaderCellDef> Apstiprināt </th>
            <td mat-cell *matCellDef="let pieprasijums"> <button (click)="changeStatus(pieprasijums, true)" mat-flat-button style="height: 27px; width: auto;">Apstiprināt</button> </td>
          </ng-container>

          <ng-container matColumnDef="noraidit">
            <th mat-header-cell *matHeaderCellDef> Noraidīt </th>
            <td mat-cell *matCellDef="let pieprasijums"> <button (click)="changeStatus(pieprasijums, false)" mat-flat-button style="height: 27px; width: auto;">Noraidīt</button> </td>
          </ng-container>

          <ng-container matColumnDef="dzest">
            <th mat-header-cell *matHeaderCellDef> Dzēst </th>
            <td mat-cell *matCellDef="let pieprasijums"> <button (click)="deletePieprasijums(pieprasijums.id)" mat-flat-button style="height: 27px; width: auto; background-color:crimson !important;">Dzēst</button> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let pieprasijums; columns: displayedColumns;"></tr>
      
        </table>
      </div>
      <h2 style="font-weight: 500; text-align: left; letter-spacing:0.1ch; margin-top: 3%; margin-left: 2%; width: 50%;">Pieejamā tehnika</h2>
      <div class="data-container mat-elevation-z8" style="margin-left: 2%; margin-right: 2%; width: 50%; padding-bottom: 3%;">
        <table mat-table [dataSource]="dataSourceTehnika">
          <ng-container matColumnDef="nosaukums">
            <th mat-header-cell *matHeaderCellDef> Nosaukums </th>
            <td mat-cell *matCellDef="let tehnika"> {{ tehnika.nosaukums }} </td>
          </ng-container>

          <ng-container matColumnDef="apraksts">
            <th mat-header-cell *matHeaderCellDef> Apraksts </th>
            <td mat-cell *matCellDef="let tehnika"> {{ tehnika.apraksts }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTehnika"></tr>
          <tr mat-row *matRowDef="let tehnika; columns: displayedColumnsTehnika;"></tr>
        </table>
      </div>
      
</div>